.ant-layout-footer{
 display: none;
}
.body{
  height: 100%;
  .test {
    background-image: url("../../img/WechatIMG64.png");

    height:100%;

    .header{
      min-height: 30px;
    }
    .div-container {
      width: 100%;
      height: 100%;
      display: flex;

      .div1 {
        flex: 1;
        display: flex;
        flex-direction: column;

        .div11 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;

            .border-box-content {

              .div-title {
                padding-top: 5%;
                padding-left: 7%;
                color: #fff;
                font-size: 16px;
              }

              .scroll-div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 90%;

                .dv-scroll-board {
                  width: 86%;
                  height: 90%;
                }
              }

            }
          }

        }

        .div12 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;
            .border-box-content {

              .div-title {
                padding-top: 5%;
                padding-left: 7%;
                color: #fff;
                font-size: 16px;
              }

              .scroll-div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 90%;

                .dv-scroll-board {
                  width: 86%;
                  height: 90%;
                }
              }

            }
          }

        }

        .div13 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;

            .border-box-content {

              .div-title {
                padding-top: 5%;
                padding-left: 7%;
                color: #fff;
                font-size: 16px;
              }

              .scroll-div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                width: 100%;
                height: 100%;

                .dv-scroll-board {
                  width: 86%;
                  height: 100%;
                }
              }

            }
          }

        }
      }

      .div2 {
        flex: 2.5;
        display: flex;
        flex-direction: column;

        //display: flex;

        .div21 {
          //flex: 1;
          height: 200px;
          display: flex;
          justify-content: center;
          positon:relative;

          .dv-decoration-11 {
            margin-top: 4%;
            font-size: 36px;
            font-weight: bolder;
            color: #fff;
            svg {
              margin-left: 40px !important;
              height: 100%;
            }
            .decoration-content {
              //margin-top: 2.5%;
            }
          }

          .time {
            color: white;
            font-size: 20px;
            margin-top: 15%;
            margin-right: -10%;
          }




        }

        .div22 {
          flex: 1;
          margin: 0px 0px 30px 0px;
          border: 1px solid lightblue;
        }

      }

      .div3 {
        flex: 1;
        display: flex;
        flex-direction: column;

        .div31 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;
            .div-title {
              padding-top: 5%;
              padding-left: 7%;
              color: #fff;
              font-size: 16px;
            }
            .table {
              width: 90%;
              margin-left: 5%;
            }
          }

        }

        .div32 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;

            .border-box-content {

              .div-title {
                padding-top: 5%;
                padding-left: 7%;
                color: #fff;
                font-size: 16px;
              }

              .scroll-div {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;

                .dv-active-ring-chart {
                  width: 86%;
                  height: 100%;

                  .active-ring-info{
                    margin-top: -10%;
                    margin-left: 7%;
                  }
                }
              }

            }

          }

        }

        .div33 {
          flex: 1;

          .dv-border-box-1 {
            width: 90%;
            height: 90%;
            margin: 3% 5%;

            .border-box-content {

              .div-title {
                padding-top: 5%;
                padding-left: 7%;
                color: #fff;
                font-size: 16px;
              }

              .scroll-div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                width: 100%;
                height: 100%;

                .dv-scroll-board {
                  width: 86%;
                  height: 100%;
                }
              }

            }
          }

        }
      }
    }
  }
}
